.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
